<div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
    <%= link_to cocktail.name.upcase, cocktail_path(cocktail), class: 'funky-button' %>
  </div>
  <%end%>
</div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.cedp-edu.com/wp-content/uploads/2019/02/Certificate-Course-in-Bartending-Mixology.jpg)">
  <%= link_to "ADD A COCKTAIL", new_cocktail_path, class:'funky-button' %>
</div>
